{% extends "base.html" %}

{% block title %}Management | {% endblock title %}

{% block content %}

<div class="container mt-5 mb-5">
    <h1 class="text-center mb-4">Manage Orders</h1>

    {% for item in orders %}
    <div class="card mb-3">
        <div class="card-header">
            Order Placed on {{ item.order_time|date:"M d, Y H:i" }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.customer.customer_name }}</h5>
            <p class="card-text"><strong>Vehicle No:</strong> {{ item.customer.vehicle_no }}</p>
            <p class="card-text"><strong>Email:</strong> {{ item.customer.email }}</p>
            <p class="card-text"><strong>Phone No:</strong> {{ item.customer.phone_no }}</p>
            <p class="card-text"><strong>Assigned Engineer:</strong> {{ item.engineer }}</p>
            <p class="card-text"><strong>Service Status:</strong> {{ item.get_status_display }}</p>
            <a href="{% url 'management:checkout_order' item.order_id %}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">
        No orders found.
    </div>
    {% endfor %}
</div>

{% endblock content %}
