{% extends "base.html" %}
{% load static %}

{% block title %}Unauthorised | {% endblock title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Unauthorised!</h5>
                    <p class="card-text">You do not have the permissions to access this page</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}